.ripple {
	position: absolute;
	animation-name: ripple;
	background: rgba(255,255,255,.6);
	width: 100px;
	height: 100px;
	border-radius: 100%;
	/*display: none;*/
	transform: translate(-50%, -50%);
}

@keyframes ripple {
	0% {
		transform: translate(-50%, -50%) scale(0);
		opacity: 1;
		display: block;
	}

	100% {
		transform: translate(-50%, -50%) scale(3);
		opacity: 0;
	}
}
